# 1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and managed in a way that facilitates easy access, retrieval, and manipulation of data. Databases are used in various applications and industries to store and manage information efficiently.

Here's a differentiation between SQL (relational) and NoSQL (non-relational) databases:

1. SQL (Structured Query Language) Databases:
   - Structure: SQL databases are relational databases, which means they organize data into structured tables with rows and columns.
   - Schema: They have a predefined schema, which defines the structure of the data, including data types and relationships between tables.
   - ACID Properties: SQL databases typically adhere to ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and reliability.
   - Examples: MySQL, PostgreSQL, SQLite, Oracle, SQL Server.

2. NoSQL (Non-relational) Databases:
   - Structure: NoSQL databases are non-relational, meaning they do not use a tabular structure like SQL databases. They are more flexible and can store unstructured or semi-structured data.
   - Schema: They are schema-less or have a dynamic schema, allowing for easy modification of data structure without downtime.
   - Scalability: NoSQL databases are generally more scalable and can handle large volumes of data with ease, making them suitable for big data and real-time applications.
   - Types: NoSQL databases are further categorized into different types such as document-based, key-value stores, wide-column stores, and graph databases.
   - Examples: MongoDB, Cassandra, Couchbase, Redis, Amazon DynamoDB.

# 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define the structure and schema of a database. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and views.

Here's an explanation of commonly used DDL commands with examples:

1. CREATE:
   - Purpose: Used to create new database objects such as tables, indexes, views, or databases themselves.
   - Example: Creating a new table named "Employees" with columns for employee ID, name, and department:

   ```sql
   CREATE TABLE Employees (
       EmployeeID INT PRIMARY KEY,
       Name VARCHAR(50),
       Department VARCHAR(50)
   );
   ```

2. DROP:
   - Purpose: Used to delete existing database objects.
   - Example: Dropping the "Employees" table:

   ```sql
   DROP TABLE Employees;
   ```

3. ALTER:
   - Purpose: Used to modify the structure of existing database objects, such as adding, modifying, or dropping columns.
   - Example: Adding a new column "Salary" to the "Employees" table:

   ```sql
   ALTER TABLE Employees
   ADD Salary DECIMAL(10, 2);
   ```

4. TRUNCATE:
   - Purpose: Used to remove all rows from a table while keeping the table structure intact.
   - Example: Truncating the "Employees" table to delete all employee records:

   ```sql
   TRUNCATE TABLE Employees;
   ```

These DDL commands are essential for managing the structure of a database, allowing administrators and developers to create, modify, and delete database objects as needed to accommodate changes in requirements or data organization.

# 3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in the database. DML commands are used to perform operations such as inserting new data, updating existing data, and deleting data from database tables.

Here's an explanation of commonly used DML commands with examples:

1. INSERT:
   - Purpose: Used to add new records (rows) into a table.
   - Example: Inserting a new employee record into the "Employees" table:

   ```sql
   INSERT INTO Employees (EmployeeID, Name, Department, Salary)
   VALUES (1, 'John Doe', 'IT', 50000);
   ```

2. UPDATE:
   - Purpose: Used to modify existing records in a table.
   - Example: Updating the salary of an employee named "John Doe" in the "Employees" table:

   ```sql
   UPDATE Employees
   SET Salary = 55000
   WHERE Name = 'John Doe';
   ```

3. DELETE:
   - Purpose: Used to remove one or more records from a table.
   - Example: Deleting the record of an employee who has left the company from the "Employees" table:

   ```sql
   DELETE FROM Employees
   WHERE EmployeeID = 1;
   ```

These DML commands are crucial for manipulating data within database tables. They allow users to add, modify, or remove data as needed to maintain the accuracy and integrity of the database.

# 4.What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. The primary DQL command is SELECT, which is used to specify the data to be retrieved and the conditions for retrieving it.

Here's an explanation of the SELECT command with an example:

1. SELECT:
   - Purpose: Used to retrieve data from one or more tables in a database.
   - Syntax:
     ```sql
     SELECT column1, column2, ...
     FROM table_name
     WHERE condition;
     ```
   - Example: Retrieving the names and salaries of all employees in the "Employees" table who work in the "IT" department:

   ```sql
   SELECT Name, Salary
   FROM Employees
   WHERE Department = 'IT';
   ```

   This query will return a result set containing the names and salaries of all employees who work in the IT department. The SELECT statement specifies the columns to be retrieved (Name and Salary) from the Employees table, and the WHERE clause filters the results to include only rows where the Department column equals 'IT'.

# 5. Explain Primary Key and Foreign Key.



Primary Key (PK):
- Uniquely identifies each row in a table.
- Cannot contain NULL values.
- Used as the basis for relationships with other tables.

Foreign Key (FK):
- Establishes a relationship between two tables.
- Refers to the Primary Key of another table.
- Ensures referential integrity.
- Can have duplicate values and may contain NULL values.

# 6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

```python
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="karan",
)
print(mydb)
mycursor = mydb.cursor()

mycursor.execute("select  from test2.test_table")
for i in mycursor.fetchall():
    print(i)


mydb.close()
```


cursor() method:

- The cursor() method is used to create a cursor object in Python, which allows you to interact with the database by  executing SQL queries and fetching results.
- This method returns a cursor object that can be used to execute SQL queries and fetch results from the database.

execute() method:

- The execute() method is used to execute a SQL query or command using the cursor object.
- Syntax: cursor.execute(sql_query)
- This method takes a SQL query as a parameter and executes it on the connected database.
- After executing the query, you can fetch the results using methods like fetchall() to retrieve all rows, fetchone() to retrieve one row, etc.

# 7. Give the order of execution of SQL clauses in an SQL query.

In a typical SQL query, the clauses are generally executed in the following order:

1. FROM: Specifies the tables from which to retrieve data.
2. WHERE: Filters the rows based on specified conditions.
3. GROUP BY: Groups the rows that have the same values into summary rows.
4. HAVING: Filters the grouped rows based on specified conditions.
5. SELECT: Retrieves the columns or expressions to be included in the query result.
6. DISTINCT: Removes duplicate rows from the result set (if specified).
7. ORDER BY: Sorts the result set based on specified columns or expressions.
8. LIMIT/OFFSET: Limits the number of rows returned or specifies the starting row for the result set.

# Complete